@font-face {
    font-family: 'agencyb';
    src: url('/fonts/agencyfb.ttf');
    // font-style: normal;
    // font-weight: normal;
    // src: local('AgencyFB'), url('AGENCYB.woff') format('woff');
}

@font-face {
    font-family: "inconsolata";
    src: url("/fonts/inconsolata.ttf");
}

@font-face {
    font-family: "poppins";
    src: url("/fonts/poppins-regular.ttf");
}
