<style>
    .story-problem {
        padding: 15px;
        margin: 15px auto;
        margin-bottom: 50px;
        background-color: rgba(145, 24, 24, 0.39);
    }

    .story-problem-title {
        font-size: 2rem;
        /* font-weight: bold; */
        /* letter-spacing: 5px; */
        /* word-spacing: 10px; */
    }

    /* .story-problem-statement { */
        /* color: indianred; */
        /* letter-spacing: 5px; */
        /* word-spacing: 15px; */
    /* } */
</style>

<div class="story-problem">
    <div class="story-problem-title">
        Problem
    </div>
    <div class="story-problem-statement">
        {{ .Inner }}
    </div>
</div>